@charset "UTF-8";

body {
    overflow: visible;
}

/*===========================================
 * banner
 *===========================================*/
.banner {
    display: block;
    width: 100%;
    height: var(--screenHeight);
}


/*===========================================
 * 關於中央窩
 *===========================================*/


/*===========================================
 * 作品集
 *===========================================*/


/*===========================================
 * 服務與方案
 *===========================================*/
.service {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-items: flex-start;
    justify-content: flex-start;
    width: calc(100% - 120px);
    max-width: 1420px;
    margin: 220px auto 80px auto;
    overflow: visible;
}

.service-item.active .c-slide {
    grid-template-rows: 1fr;
}

/*===========================================
 * slogan
 *===========================================*/
.slogan {
    display: block;
    width: 100%;
    height: var(--originalScreenHeight);
    overflow: hidden;
}

@media screen and (max-width: 991px) {

    /*===========================================
     * 服務與方案
     *===========================================*/
    .service {
        display: block;
        width: calc(100% - 60px);
        margin: 220px auto 80px auto;
    }

}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 575px) {

    /*===========================================
     * banner
     *===========================================*/


    /*===========================================
     * 服務與方案
     *===========================================*/
    .service {
        width: calc(100% - 40px);
        margin: 150px auto 60px auto;
    }


    /*===========================================
     * slogan
     *===========================================*/
    .slogan {}

}


/****非觸控螢幕****/
@media (any-hover: hover) {}

/****觸控螢幕****/
@media (any-hover: none) {}

/****IOS樣式****/
@supports (-webkit-touch-callout: none) {}

/****firefox樣式****/
@-moz-document url-prefix() {}