@charset "UTF-8";

body {
    overflow: visible;
}

/*===========================================
 * banner
 *===========================================*/
.banner {
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    width: 100%;
    height: var(--screenHeight);
    overflow: visible;
}

.banner.wow {
    opacity: 1;
    visibility: visible;
}

/****背景****/
.c-banner-bg {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: calc(100% + 150px);
    -webkit-mask: linear-gradient(to top, #0000 70px, #000 150px);
    mask: linear-gradient(to top, #0000 70px, #000 150px);
    overflow: hidden;
}

.c-banner-bg__box {
    position: absolute;
    top: -100%;
    left: -50%;
    display: block;
    width: 200%;
    transform: translate(calc(1px * var(--x, 0)), calc(1px * var(--y, 0)));
}

.c-banner-bg__box::before {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    padding: 75% 0 0 0;
}

.c-banner-media {
    position: absolute;
    display: block;
    overflow: hidden;
}

.c-banner-media:nth-child(1) {
    bottom: 85.5%;
    right: 83.375%;
    width: 12.15%;
}

.c-banner-media:nth-child(2) {
    bottom: 76.66%;
    right: 63.375%;
    width: 9.6%;
}

.c-banner-media:nth-child(3) {
    bottom: 72.16%;
    left: 44.5%;
    width: 9.75%;
}


.c-banner-media:nth-child(4) {
    bottom: 67.83%;
    left: 63.75%;
    width: 15.15%;
}

.c-banner-media:nth-child(5) {
    bottom: 73.66%;
    left: 85.5%;
    width: 10.65%;
}

.c-banner-media:nth-child(6) {
    bottom: 57%;
    right: 80%;
    width: 10%;
}

.c-banner-media:nth-child(7) {
    bottom: 48.5%;
    right: 55.5%;
    width: 16.25%;
}

.c-banner-media:nth-child(8) {
    bottom: 51.83%;
    left: 57.625%;
    width: 9.5%;
}

.c-banner-media:nth-child(9) {
    bottom: 39.16%;
    right: 0;
    width: 16.25%;
}

.c-banner-media:nth-child(10) {
    top: 59.66%;
    right: 72.5%;
    width: 15%;
}

.c-banner-media:nth-child(11) {
    top: 64.33%;
    left: 40%;
    width: 12%;
}

.c-banner-media:nth-child(12) {
    top: 57.33%;
    left: 62%;
    width: 10%;
}

.c-banner-media:nth-child(13) {
    bottom: 0;
    left: 0;
    width: 25.5%;
}

.c-banner-media:nth-child(14) {
    bottom: 0;
    left: 44%;
    width: 18.35%;
}

.c-banner-media:nth-child(15) {
    bottom: 5.83%;
    right: 6.125%;
    width: 8.25%;
}

/****文案****/
.banner-content {
    display: block;
    width: 100%;
    text-align: center;
}

.banner-content__title {
    display: block;
    width: 100%;
    font-size: 200px;
    line-height: 1;
    color: var(--mainColor);
    letter-spacing: 0;
    transition: opacity 1s .4s ease-in-out, transform 1s .4s ease-in-out;
}

.banner-content__text {
    display: block;
    width: 100%;
    margin: 15px auto 0 auto;
    font-size: 20px;
    line-height: 1.5;
    color: var(--titleColor);
    font-weight: 300;
    transition: opacity 1s .8s ease-in-out, transform 1s .8s ease-in-out;
}

.banner-content__link {
    display: none;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    width: 170px;
    max-width: 100%;
    margin: 40px auto 0 auto;
    padding: 20px 0;
    font-size: 15px;
    line-height: 1;
    color: var(--mainColor);
    border-top: 1px solid #7f7f7f;
    border-bottom: 1px solid #7f7f7f;
    transition: opacity 1s 1.2s ease-in-out, transform 1s 1.2s ease-in-out;
}

.banner-content__link::after {
    content: '';
    position: relative;
    display: block;
    width: 15px;
    height: 9px;
    margin: 0 0 0 10px;
    background: url(../images/common/icon_arrow_next_long_black.svg) center / contain no-repeat;
    opacity: .5;
    flex: 0 0 auto;
}

.banner.wow .banner-content__title,
.banner.wow .banner-content__text,
.banner.wow .banner-content__link {
    opacity: 0;
    transform: translateY(15px);
}

.banner.wow.animated .banner-content__title,
.banner.wow.animated .banner-content__text,
.banner.wow.animated .banner-content__link {
    opacity: 1;
    transform: none;
}


/*===========================================
 * 關於中央窩
 *===========================================*/
.about {
    display: block;
    width: calc(100% - 120px);
    max-width: 1740px;
    margin: 230px auto 180px auto;
    overflow: hidden;
}

.about-main {
    display: block;
    width: 100%;
    margin: 0 auto 190px auto;
    font-size: min(90px, 12vw);
    line-height: 1;
    color: var(--mainColor);
    letter-spacing: 0;
    font-weight: 400;
    text-align: center;
}

.about-main.wow.animated {
    animation-name: fadeInUp;
}

.about__inner {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 140px max(0px, calc(50% - 750px)) 0 max(0px, calc(50% - 750px));
    border-top: 1px solid #e5e5e5;
}

.about-title {
    display: block;
    width: 100%;
    margin: 0 0 150px 0;
    padding: 0 0 0 60px;
    font-size: 13px;
    line-height: 1.2;
    color: var(--titleColor);
}

.about-title::before {
    content: '';
    position: absolute;
    top: calc(.6em - 15px);
    left: 0;
    display: block;
    width: 30px;
    height: 30px;
    background: url(../images/common/logo.svg) center/contain no-repeat;
}

.about-title.wow.animated {
    animation-name: fadeInUp;
}

.about-content {
    display: block;
    width: 50%;
    margin: 0 0 0 auto;
}

.about-content.wow.animated {
    animation-name: fadeIn;
}

.about-content__title {
    display: block;
    width: 100%;
    margin: 0 0 55px 0;
    font-size: 25px;
    line-height: 1.5;
    color: var(--titleColor);
    font-weight: 300;
    text-align: right;
}


/*===========================================
 * 作品集
 *===========================================*/
.work {
    display: block;
    width: 100%;
    padding: 60px 0 0 0;
    background: var(--bgGray);
    overflow: hidden;
}

.work__inner {
    display: block;
    width: calc(100% - 120px);
    max-width: 1740px;
    margin: 0 auto;
}

.work-title {
    display: block;
    width: 100%;
    margin: 0 0 50px 0;
    font-size: 50px;
    line-height: 1.2;
    color: var(--mainColor);
}

.work-title.wow.animated {
    animation-name: fadeInUp;
}

.work-list {
    display: block;
    width: 100%;
    border-top: 1px solid #cdcdcd;
    counter-reset: work;
}

.work-list__box {
    display: block;
    width: 100%;
    padding: 55px 0 60px 160px;
    background: linear-gradient(to left, #cdcdcd, #cdcdcd) bottom right/ calc(100% - 100px) 1px no-repeat;
    counter-increment: work;
}

.work-list__box::before {
    content: counter(work, decimal-leading-zero);
    position: absolute;
    top: 65px;
    left: 0;
    display: block;
    width: auto;
    max-width: 100%;
    padding: 0 0 0 25px;
    font-size: 13px;
    line-height: 1;
    color: var(--titleColor);
    font-weight: 500;
    background: radial-gradient(ellipse at center, #202020 calc(70% - .5px), #20202000 calc(70% + .5px)) left center/6px 6px no-repeat;
    transition: opacity 1s .4s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.work-list__box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 100px;
    display: block;
    width: 1px;
    height: 100%;
    background: #cdcdcd;
    pointer-events: none;
}

.work-list__box:last-child {
    padding: 55px 0 130px 160px;
    background: none;
}

.work-list__box.wow.animated {
    opacity: 1;
    visibility: visible;
}

.work-list__box.wow.animated::before {
    opacity: 1;
}

.work-list__box__title {
    display: block;
    width: 100%;
    margin: 0 0 50px 0;
    font-size: 25px;
    line-height: 1.2;
    color: var(--titleColor);
    font-weight: 300;
}

.work-list__box__title.animated {
    animation-name: fadeIn;
}

.work-list__box__item {
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 10px 0;
}

.work-list__box__item.wow.animated {
    animation-name: fadeIn;
}

.work-list__box__item:last-child {
    margin: 0;
}

.work-list__box__item__media {
    display: block;
    width: 100%;
    max-width: 950px;
    flex: 0 1 auto;
}

.work-list__box__item__content {
    display: block;
    width: calc(50% - 30px);
    max-width: 540px;
    margin: 0 0 0 50px;
    flex: 0 0 auto;
}

.work-list__box__item__content__title {
    display: block;
    width: 100%;
    margin: 0 0 25px 0;
    font-size: 20px;
    line-height: 1.5;
    color: var(--titleColor);
}

.work-list__box__item__content .c-text {
    opacity: .8;
}

.work-list__box__item__content__bt {
    max-width: 180px;
    margin: 70px 0 0 0;
}


/*===========================================
 * 品牌價值
 *===========================================*/
.brand {
    display: block;
    width: calc(100% - 120px);
    margin: 220px auto 0 auto;
    text-align: center;
    overflow: visible;
}

.brand.wow.animated {
    animation-name: fadeInUp;
}

.brand__title,
.brand__sub {
    display: block;
    width: 100%;
}

.brand__title {
    max-width: 715px;
    margin: 0 auto 50px auto;
    font-size: 70px;
    line-height: 1.2;
    color: var(--mainColor);
    letter-spacing: 0;
}

.brand__sub {
    margin: 0 auto 45px auto;
    font-size: 23px;
    line-height: 1.5;
    color: var(--titleColor);
    font-weight: 300;
}

.brand .c-text {
    max-width: 570px;
    margin: 0 auto;
    text-align: inherit;
}


/*===========================================
 * 服務與方案
 *===========================================*/
.service {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-items: flex-start;
    justify-content: flex-start;
    width: calc(100% - 120px);
    max-width: 1420px;
    margin: 0 auto;
    padding: 220px 0;
    overflow: visible;
}

.service.wow.animated {
    animation-name: fadeInUp;
}

/****標題****/
.service-title {
    display: block;
    width: 35%;
    max-width: 470px;
    margin: 0 50px 0 0;
    font-size: 50px;
    line-height: 1;
    color: var(--mainColor);
    letter-spacing: 0;
    flex: 0 0 auto;
}

/****服務內容列表****/
.service-box {
    display: block;
    width: 100%;
    border-top: 1px solid var(--borderColor);
    flex: 0 1 auto;
}

.service-item {
    display: block;
    width: 100%;
    border-bottom: 1px solid var(--borderColor);
}

.service-item__bt {
    display: block;
    width: 100%;
    padding: 25px 55px 25px 0;
    font-size: 25px;
    line-height: 1.5;
    color: var(--titleColor);
    font-weight: 300;
    cursor: pointer;
}

.service-item__bt::after {
    content: '';
    position: absolute;
    top: calc(50% - 20px);
    right: 0;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background:
        linear-gradient(to top, #202020, #202020) center/50% 1px no-repeat,
        linear-gradient(to top, #202020, #202020) center/1px 50% no-repeat var(--bgGray);
    transform-origin: center;
    transition: transform .4s ease-in-out;
    pointer-events: none;
    overflow: hidden;
}

.service-item.active .service-item__bt::after {
    background:
        linear-gradient(to top, #fff, #fff) center/50% 1px no-repeat,
        linear-gradient(to top, #fff, #fff) center/1px 50% no-repeat #090909;
    transform: rotate(45deg);
}

.service-item.active .c-slide {
    grid-template-rows: 1fr;
}

.service-content {
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 0 0 30px 0;
}

.service-icon {
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    width: 30%;
    max-width: 220px;
    margin: 0 35px 0 0;
    border-radius: 5px;
    background: #090909;
    overflow: hidden;
    flex: 0 0 auto;
}

.service-icon::before {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    padding: 100% 0 0 0;
}

.service-icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    object-fit: contain;
    object-position: center;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%);
}

.service-item>.service-icon {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translate(max(0px, calc(1px * var(--iconX, 0) - 100%)), max(-50%, calc(1px * var(--iconY, 0) - 50%)));
    pointer-events: none;
    z-index: 10;
}

.service-item.active>.service-icon {
    display: none;
}

.service-plan {
    display: block;
    width: 100%;
    flex: 0 1 auto;
}

.service-plan__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 15px 0;
}

.service-plan__item:last-child {
    margin: 0;
}

.service-plan__item__title {
    display: block;
    width: auto;
    max-width: 100%;
    margin: 0 20px 0 0;
    padding: 0 0 0 20px;
    font-size: 18px;
    line-height: 1.5;
    color: var(--titleColor);
    font-weight: 300;
}

.service-plan__item__title::before {
    content: '';
    position: absolute;
    top: calc(.75em - 3px);
    left: 0;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--titleColor);
    pointer-events: none;
    overflow: hidden;
}

.service-plan__item__price {
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    justify-items: flex-start;
    justify-content: flex-start;
    width: auto;
    max-width: 100%;
    font-size: 18px;
    line-height: 1;
    color: var(--titleColor);
}

.service-plan__item__price .dollar {
    display: block;
    width: auto;
    max-width: 100%;
    margin: 0 10px 0 0;
    font-size: 12px;
}

.service-plan__item__price .unit {
    display: block;
    width: auto;
    max-width: 100%;
    margin: 0 0 0 10px;
    font-size: 14px;
}


/*===========================================
 * slogan
 *===========================================*/
.slogan {
    display: block;
    width: 100%;
    height: calc(var(--originalScreenHeight) * 3);
    background: #fff;
    overflow: visible;
    z-index: 10;
}

.slogan__inner {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: var(--originalScreenHeight);
    overflow: visible;
}

.slogan__inner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: var(--bgGray);
    transform-origin: center;
    transform: scale(calc(1 - min(1, max(0, (1 * var(--rate, 0) * 2)))));
}

.slogan-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 0 100px 0;
    line-height: 1.2;
    text-align: center;
}

.slogan-content::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: calc(50% - .5px);
    display: block;
    width: 1px;
    height: 315px;
    max-height: calc(var(--originalScreenHeight) / 2 - 175px);
    background: #ccc;
    transform-origin: top center;
}

.slogan-content__logo {
    display: block;
    width: 100px;
    margin: 0 auto 75px auto;
}

.slogan-content__title {
    display: block;
    width: 100%;
    margin: 0 auto 20px auto;
    font-size: 45px;
    color: var(--mainColor);
    letter-spacing: 0;
}

.slogan-content__text {
    display: block;
    width: 100%;
    font-size: 20px;
    line-height: 1.2;
    color: var(--titleColor);
}

.slogan-content {
    --secondMove: calc(137.5px * calc(1 - max(0, (1 * var(--rate, 0) * 2) - 1)));
    --secondShow: max(0, calc((1 * var(--rate, 0) * 2) - 1));
}

.slogan-content::before {
    transform: translateY(var(--secondMove)) scaleY(var(--secondShow));
    opacity: var(--secondShow);
}

.slogan-content__logo {
    --progress: clamp(0, calc((var(--rate, 0) - .4) * 20), 1);
    transform: translateY(var(--secondMove)) scale(var(--progress));
}

.slogan-content__title,
.slogan-content__text {
    transform: translateY(var(--secondMove));
    opacity: var(--secondShow);
}

@media screen and (max-width: 991px) {

    /*===========================================
     * banner
     *===========================================*/
    /****背景****/
    .c-banner-bg {
        height: 100%;
        -webkit-mask: none;
        mask: none;
    }

    .c-banner-bg__box {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: none;
    }

    .c-banner-media {
        display: none;
    }

    .c-banner-media:nth-child(7) {
        display: block;
        bottom: auto;
        top: 50px;
        right: calc(50% + 85px);
        width: 611px;
    }

    .c-banner-media:nth-child(8) {
        display: block;
        bottom: auto;
        top: 140px;
        left: calc(50% + 135px);
        width: 245px;
    }

    .c-banner-media:nth-child(11) {
        display: block;
        top: auto;
        bottom: 80px;
        left: auto;
        right: calc(50% + 175px);
        width: 335px;
    }

    .c-banner-media:nth-child(12) {
        display: block;
        top: auto;
        bottom: -100px;
        left: calc(50% + 65px);
        width: 268px;
    }

    /****文案****/
    .banner-content {
        padding: 85px 0 0 0;
    }

    .banner-content__title {
        font-size: min(160px, 25vw);
    }

    .banner-content__text {
        margin: 5px auto 0 auto;
        font-size: 20px;
    }

    .banner-content__link {
        display: flex;
    }


    /*===========================================
     * 關於中央窩
     *===========================================*/
    .about {
        width: calc(100% - 60px);
    }

    .about__inner {
        padding: 140px 0 0 0;
    }

    .about-title {
        display: none;
    }

    .about-content {
        width: 100%;
    }

    .about-content__title {
        margin: 0 0 50px 0;
    }


    /*===========================================
     * 作品集
     *===========================================*/
    .work__inner {
        width: calc(100% - 40px);
    }

    .work-list__box {
        padding: 55px 0 100px 80px;
        background-size: calc(100% - 80px) 1px;
    }

    .work-list__box::before {
        padding: 0 0 0 15px;
    }

    .work-list__box:last-child {
        padding: 55px 0 100px 80px;
    }

    .work-list__box::after {
        left: 50px;
    }

    .work-list__box__item {
        display: block;
        margin: 0 0 60px 0;
    }

    .work-list__box__item__media {
        max-width: none;
        margin: 0 auto 30px auto;
    }

    .work-list__box__item__content {
        width: 100%;
        max-width: none;
        margin: 0;
    }

    .work-list__box__item__content__bt {
        margin: 30px 0 0 0;
    }


    /*===========================================
     * 品牌價值
     *===========================================*/
    .brand {
        width: calc(100% - 60px);
    }


    /*===========================================
     * 服務與方案
     *===========================================*/
    .service {
        display: block;
        width: calc(100% - 100px);
    }

    /****標題****/
    .service-title {
        width: 100%;
        max-width: none;
        margin: 0 0 90px 0;
    }

    /****服務內容列表****/
    .service-icon {
        margin: 0 30px 0 0;
    }

    .service-item>.service-icon {
        display: none;
    }


    /*===========================================
     * slogan
     *===========================================*/
    .slogan-content {
        --secondMove: calc(87.5px * calc(1 - max(0, (1 * var(--rate, 0) * 2) - 1)));
        padding: 0;
    }

    .slogan-content::before {
        height: 265px;
    }
}

@media screen and (max-width: 767px) {

    /*===========================================
     * 服務與方案
     *===========================================*/
    .service {
        width: calc(100% - 60px);
    }

    .service-icon {
        display: none;
    }
}

@media screen and (max-width: 575px) {

    /*===========================================
     * banner
     *===========================================*/
    /****背景****/
    .c-banner-bg__box {
        left: -200%;
        width: 500%;
    }

    .c-banner-media:nth-child(7) {
        right: calc(50% - 20px);
        width: 305px;
    }

    .c-banner-media:nth-child(8) {
        top: 95px;
        left: calc(50% + 110px);
        width: 120px;
    }

    .c-banner-media:nth-child(11) {
        right: calc(50% + 35px);
        width: 170px;
    }

    .c-banner-media:nth-child(12) {
        bottom: -60px;
        left: calc(50% + 35px);
        width: 135px;
    }

    /****文案****/
    .banner-content {
        padding: 65px 0 0 0;
    }

    .banner-content__title {
        font-size: min(80px, 22vw);
    }

    .banner-content__text {
        font-size: 14px;
    }

    .banner-content__link {
        width: 110px;
        margin: 25px auto 0 auto;
        padding: 15px 0;
        font-size: 12px;
    }


    /*===========================================
     * 關於中央窩
     *===========================================*/
    .about {
        width: calc(100% - 40px);
        margin: 140px auto 110px auto;
    }

    .about-main {
        margin: 0 auto 110px auto;
        font-size: min(50px, 14vw);
    }

    .about__inner {
        padding: 100px 0 0 0;
    }

    .about-content__title {
        margin: 0 0 35px 0;
        font-size: 20px;
        text-align: center;
    }


    /*===========================================
     * 作品集
     *===========================================*/
    .work {
        padding: 30px 0 50px 0;
    }

    .work-title {
        margin: 0 0 25px 0;
        font-size: 25px;
        text-align: center;
    }

    .work-list {
        left: -20px;
        width: calc(100% + 40px);
        padding: 0 20px;
    }

    .work-list__box {
        padding: 50px 0;
        background-size: 100% 1px;
    }

    .work-list__box::before {
        position: relative;
        top: 0;
        width: 100%;
        margin: 0 auto 25px auto;
        padding: 0;
        text-align: center;
        background: none;
    }

    .work-list__box::after {
        display: none;
    }

    .work-list__box:last-child {
        padding: 50px 0;
    }

    .work-list__box__title {
        margin: 0 0 25px 0;
        font-size: 20px;
        text-align: center;
    }

    .work-list__box__title::after {
        content: '';
        position: relative;
        display: block;
        width: 1px;
        height: 50px;
        margin: 25px auto 0 auto;
        background: #cdcdcd;
        pointer-events: none;
    }

    .work-list__box__item {
        display: block;
        width: 100%;
        margin: 0 0 50px 0;
    }

    .work-list__box__item__media {
        margin: 0 auto 20px auto;
    }

    .work-list__box__item__content__title {
        margin: 0 0 10px 0;
        font-size: 16px;
    }

    .work-list__box__item__content__bt {
        max-width: none;
        margin: 10px 0 0 0;
    }


    /*===========================================
     * 品牌價值
     *===========================================*/
    .brand {
        width: calc(100% - 40px);
        margin: 150px auto 0 auto;
    }

    .brand__title {
        left: -10px;
        width: calc(100% + 20px);
        max-width: none;
        margin: 0 auto 25px auto;
        font-size: min(50px, 13.33vw);
    }

    .brand__sub {
        margin: 0 auto 30px auto;
        font-size: 20px;
    }


    /*===========================================
     * 服務與方案
     *===========================================*/
    .service {
        width: calc(100% - 40px);
        padding: 150px 0;
    }

    /****標題****/
    .service-title {
        margin: 0 0 35px 0;
        font-size: 25px;
    }

    /****服務內容列表****/
    .service-item__bt {
        padding: 20px 45px 20px 0;
        font-size: 20px;
    }

    .service-item__bt::after {
        top: calc(50% - 15px);
        right: 10px;
        width: 30px;
        height: 30px;
    }

    .service-plan__item__title {
        font-size: 15px;
    }


    /*===========================================
     * slogan
     *===========================================*/
    .slogan-content {
        --secondMove: calc(47.5px * calc(1 - max(0, (1 * var(--rate, 0) * 2) - 1)));
    }

    .slogan-content::before {
        height: 230px;
        max-height: calc(var(--originalScreenHeight) / 2 - 150px);
    }

    .slogan-content__logo {
        width: 55px;
        margin: 0 auto 40px auto;
    }

    .slogan-content__title {
        margin: 0 auto 15px auto;
        font-size: 14px;
    }

}


/****非觸控螢幕****/
@media (any-hover: hover) {

    /*===========================================
     * banner
     *===========================================*/
    .banner-content__link:hover::after {
        animation: arrowMove 1s ease-in-out;
    }


    /*===========================================
     * 服務與方案
     *===========================================*/
    /****服務內容列表****/
    .service-item:hover>.service-icon {
        opacity: 1;
    }
}

/****觸控螢幕****/
@media (any-hover: none) {

    /*===========================================
     * banner
     *===========================================*/
    /****背景****/
    .c-banner-bg__box {
        transform: none;
    }


    /*===========================================
     * 服務與方案
     *===========================================*/
    /****服務內容列表****/
    .service-item>.service-icon {
        display: none;
    }

}

/****IOS樣式****/
@supports (-webkit-touch-callout: none) {}

/****firefox樣式****/
@-moz-document url-prefix() {}