@charset "UTF-8";

/*===========================================
 * banner
 *===========================================*/
.banner {
    display: block;
    width: 100%;
    height: var(--screenHeight);
}


/*===========================================
 * 關於中央窩
 *===========================================*/


/*===========================================
 * 作品集
 *===========================================*/


/*===========================================
 * 服務與方案
 *===========================================*/
.service{
    height: var(--originalScreenHeight);
}
@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 575px) {

    /*===========================================
     * banner
     *===========================================*/

}


/****非觸控螢幕****/
@media (any-hover: hover) {}

/****觸控螢幕****/
@media (any-hover: none) {}

/****IOS樣式****/
@supports (-webkit-touch-callout: none) {}

/****firefox樣式****/
@-moz-document url-prefix() {}